html, body {
  min-height: 100%;
}


body {
  background: #112c44;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
}


header {
  height: 96px;
  overflow: hidden;
  width: max-content;
  margin: 0 auto 0 auto;
}

header img {
  height: 80px; 
  width: auto;
  display: block;
  margin: 8px auto 0;
}


h1 {
  display: inline-block;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  position: relative;
  top: -0.6em;
  font-size: 2.4em;
  padding: 0 0 0 0.5em;
  margin: 0;
}

h2 {
  color: #b5b6c1;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 0 0.7em 0;
  padding: 0;
}


section {
  padding: 1em;
  width: max-content;
  margin: 0 auto 0 auto;
  flex: 1;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 0.3em 2em 0.3em 0;
}

th:last-child {
  padding: 0;
}

tr:nth-child(2) td {
  padding-top: 0.6em;
}

th {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-bottom: 1px solid #6f7381;
  font-weight: normal;
  color: #b5b6c1;
}

p {
  margin-bottom: 1.6em;
}

.important {
  color: #ffffff;
}

td.overdrawn {
  color: #fca905;
}
footer {
  border-top: 1px solid #6f7381;
  margin-top: 2rem;
  padding: 1.5rem 0;
  text-align: center;
  color: #b5b6c1;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 100%;
}